<!DOCTYPE html>
<html>
  <head>
    <title>Shooting game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/javascripts/client.js"></script>
    <script src="/javascripts/jq.bkstr.min.js"></script>
    <script src="/javascripts/bkstr.js"></script>
  </head>
  <body>
    <div id="canvasBase">
      <div id="coord"></div>
      <canvas id="canvas" width="450" height="450"</canvas>
    </div>
  <div id="game">
    <img src="/images/unit.png" class="player" id="my-player" />
    <img src="/images/bullet.png" class="bullet" id="my-bullet" />
  </div>
  <div id="chat">
      <p><%= desc %></p>
    <form action="" id="form" onSubmit="return false">
        <input type="text" placeholder="入力して..." id="message" />
        <button type="button" id="btn">おくる</button>
    </form>
    <hr style="background-color:#e8dfd8;border:1px solid #e8dfd8;">
        <dl id="list"></dl>
  </div>
  </body>
</html>